<!-- declare the header and list of Bands -->

{% extends 'layout.html' %}
{% block body_content %}
change
<div>

{% for band in all_bands %}

<b> Band Name: </b>{{ band.band_name }}<br>
<b> Genre: </b>{{ band.genre }} <br>
<b> Performing at: </b> {{ band.venue.venue_name }}<br>
<b> Location: </b> {{ band.venue.venue_loc }}<br>
<b> Starting at: </b>{{ band.venue.start_time }}<br>
<b> Entry fee: </b>{{ band.venue.entry_fee }}<br>
<br><br>
<form action='{{ url_for('update', id=band.id) }}'>
	<input type=submit value="Update">
</form>
<form action='{{ url_for('delete', id=band.id) }}'>
	<input type=submit value="Delete">
</form>
<br>



{% endfor %}

{% endblock body_content %}
